<% if @table_desc.include?("playlist") %>
<a href="/playlists" class="btn" role="button" style="padding-left:0;">&larr; Return to Playlists</a>
<% end %>
<p><%= @table_desc %></p>
<table>
  <tr>
    <th>Id </th>
    <th>Title </th>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Year</th>
    <th>BPM</th>
    <th>Updated_At</th>
  </tr>
  <% @songs.each do |song| %>
  <tr>
    <td><%= song[:song_id] %></td>
    <td><%= song[:name] %></td>
    <td><%= song[:artist] %></td>
    <td><%= song[:album] %></td>
    <td><%= song[:genre] %></td>
    <td><%= song[:year] %></td>
    <td><%= song[:bpm] %></td>
    <td><%= song[:updated_at].strftime("%m/%d/%Y %H:%M") %></td>
  </tr>
  <% end %>
</table>
<% if @songs.empty? %>
<p></p>
<p style="font-size:150%;">Looks like there aren't any songs yet!</p>
<a href="/load_songs" class="btn" role="button" style="padding-left:0;">Add Songs</a>
<% elsif !@table_desc.include?("Showing all songs")%>
<a href="/all_songs" class="btn" role="button" style="padding-left:0; padding-top:10;">Show All Songs</a>
<% end %>
